a {
    text-decoration: none;
}
i {
    margin: 8px;
}

/* Navigation */
nav span:hover {
    background: none !important;
}

/* Main */
.page-content div,
.page-content h1,
.page-content h2,
.page-content h3,
.page-content h4,
.page-content h5,
.page-content h6 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    max-width: 100% !important;
    padding: 64px;
    background-position: bottom;
    background-size: cover;
    background-image: url("images/bg.jpeg");
}

#circle {
    background-color: black;
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 1%;
    border-radius: 50%;
}

#circle h2 {
    margin-top: 25%;
}

#lastest-event img {
    width: 100%;
    height: auto;
}

#our {
    display: flex;
}
#our div {
    width: 100%;
}
#our img {
    height: 200px;
}
/*
#our div:nth-child(1){
    
}
#our div:nth-child(2){
    width: 40%;
}
#our div:nth-child(3){
    width: 30%;
}
*/
form div{
    width: 100% !important;
}

#contact-us {
    display: flex;
}
#contact-us-message, #contact-us-phone {
    padding: 3%;
    width: 50%;
    text-align: left;
}
.page-content div:last-child {
    margin-bottom: 16px;
}

/* Footer */
/* Footer - social button*/
.social-btn__facebook {
    background: url('https://www.gstatic.com/images/icons/material/system/2x/post_facebook_white_18dp.png');
}