/* Navigation */
nav span:hover {
    background: none !important;
}

/* Main */
.page-content div, .page-content h2 {
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#title {
    max-width: 100% !important;
    padding: 64px;
    background-position: bottom;
    background-size: cover;
    background-image: url("images/bg.jpeg");
}

#circle {
    background-color: black;
    width: 400px;
    height: 400px;
    margin: auto;
    padding: 1%;
    border-radius: 50%;
}

#circle h2 {
    margin-top: 25%;
}

#lastest-event img {
    width: 100%;
    height: auto;
}

#who-are-we {
    display: flex;
}
#who-are-we div:nth-child(1){
    width: 30%;
}
#who-are-we div:nth-child(2){
    width: 40%;
}
#who-are-we div:nth-child(3){
    width: 30%;
}

#contact-us {
    display: flex;
}
#contact-us-message {
    width: 50%;
    text-align: left;
}
#contact-us-phone {
    width: 50%;
    text-align: left;
}
#contact-us-phone p {
    vertical-align: middle;
}
#contact-us-phone i {
    margin: 8px;
}


/* Footer */

/* Footer - social button*/
footer ul {
    justify-content: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
}
li[class$="social-btn"] {
}

.social-btn__facebook {
    background-image: url('https://www.gstatic.com/images/icons/material/system/2x/post_facebook_white_24dp.png')
}